ion-list{
    background: none;
}
ion-item{
  --background: none;
  padding: 8px 0;
}
ion-label{
    color: #ffffff !important;
    font-size: 1.1rem !important;
    font-weight: 700;
}
ion-input{
    color: aquamarine;
    font-size: 1.2rem;
    font-weight: 700;
}
button{
    margin: 0 auto;
    display: flex;
    padding: 10px 20px;
    background: #01e69c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 12px;
}
ion-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}
.item-has-focus{
    border: none !important;
    --highlight-background: transparent;
}