<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <strong>Application:</strong> <span>WeatherTracker</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Version:</strong> <span>1.0.0</span>
      </ion-col>
    </ion-row>
   </ion-grid> 

   <ion-grid>
     <ion-row>
       <ion-col>
        <strong>Thanks For The Api Support: <a href="https://openweathermap.org/api" title="OpenWeather">OpenWeather</a></strong>
       </ion-col>
     </ion-row>
   </ion-grid>
</ion-content>
